<!doctype html>
{% load static %}
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block styles %}
        <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
        {% endblock %}
        {% block json %}
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
                    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
                    crossorigin="anonymous"></script>
        <script src="{% static 'main/json/language_data.json' %}"
                id="language_data" type="application/json"></script>
        {% endblock %}
        <title data_translate="title"></title>

        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'main/images/favicon/apple-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'main/images/favicon/apple-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'main/images/favicon/apple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'main/images/favicon/apple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'main/images/favicon/apple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'main/images/favicon/apple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'main/images/favicon/apple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'main/images/favicon/apple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'main/images/favicon/apple-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'main/images/favicon/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/images/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'main/images/favicon/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/images/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'main/images/favicon/manifest.json' %}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{% static 'main/images/favicon/ms-icon-144x144.png' %}">
        <meta name="theme-color" content="#ffffff">
    </head>

    <body>
        <div id="mouse_tracker"></div>

        <header>
            <div id="banner">
                <a href="{% url 'main:index' %}" id="home_link"
                data_translate_title="tooltip_home">
                    <img src="{% static 'main/images/icone_maison.png' %}" alt="Retour accueil" id="home_icon">
                </a>

                <div class="title_container">
                  <p data_translate="header.title"></p>
                  <div class="title_animation">
                    <div class="first_title"><div data_translate="header.moving_title1"></div></div>
                    <div class="second_title"><div data_translate="header.moving_title2"></div></div>
                    <div class="third_title"><div data_translate="header.moving_title3"></div></div>
                  </div>
                </div>

                <select id="language_selector"
                        onchange="changeLanguage(this.value)">
                    <option value="fr">Fr</option>
                    <option value="en">En</option>
                </select>
            </div>

            <nav>
                <a href="{% url 'main:education' %}"
                   data_translate="nav.education"></a>
                <a href="{% url 'main:experience' %}"
                   data_translate="nav.experience"></a>
                <a href="{% url 'main:achievements' %}"
                   data_translate="nav.achievements"></a>
                <a href="{% url 'main:contact' %}"
                   data_translate="nav.contact"></a>
            </nav>
        </header>

        <section {% block sectionattr %}{% endblock %}>
        {% block content %} {% endblock %}
        </section>

        <footer>
            <p data_translate="footer"></p>
        </footer>

        {% block js %}
        <script src="{% static 'main/js/script.js' %}" class="custom-script"
                data-language-data-url="{% static 'main/json/language_data.json' %}">
        </script>
        {% endblock %}
    </body>
</html>
