{% extends "main/base.html" %}
{% load static %}

{% block content %}
<table>
    <thead>
        <tr id="first_row">
            <th data_translate="education_table.period"></th>
            <th data_translate="education_table.formation"></th>
            <th data_translate="education_table.location"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data_translate="education_table.row1.period"></td>
            <td data_translate="education_table.row1.formation"></td>
            <td data_translate="education_table.row1.location"></td>
        </tr>
        <tr>
            <td data_translate="education_table.row2.period"></td>
            <td data_translate="education_table.row2.formation"></td>
            <td data_translate="education_table.row2.location"></td>
        </tr>
        <tr>
            <td data_translate="education_table.row3.period"></td>
            <td data_translate="education_table.row3.formation"></td>
            <td data_translate="education_table.row3.location"></td>
        </tr>
        <tr>
            <td data_translate="education_table.row4.period"></td>
            <td data_translate="education_table.row4.formation"></td>
            <td data_translate="education_table.row4.location"></td>
        </tr>
        <tr>
            <td data_translate="education_table.row5.period"></td>
            <td data_translate="education_table.row5.formation"></td>
            <td data_translate="education_table.row5.location"></td>
        </tr>
    </tbody>
</table>
{% endblock %}