{% extends "main/base.html" %}
{% load static %}

{% block sectionattr %}id="experience"{% endblock %}

{% block content %}
<h2 data_translate="experience.appuis.year"></h2>
<div>
    <h3 data_translate="experience.appuis.title"></h3>
    <h4 data_translate="experience.appuis.job"></h4>
    <ul>
        <li data_translate="experience.appuis.mission1"></li>
        <li data_translate="experience.appuis.mission2"></li>
        <li data_translate="experience.appuis.mission3"></li>
    </ul>
</div>

<h2 data_translate="experience.danone.year"></h2>
<div>
    <h3 data_translate="experience.danone.title"></h3>
    <h4 data_translate="experience.danone.job"></h4>
    <ul>
        <li data_translate="experience.danone.mission1"></li>
        <li data_translate="experience.danone.mission2"></li>
        <li data_translate="experience.danone.mission3"></li>
    </ul>
</div>

<h2 data_translate="experience.ntn_snr.year"></h2>
<div>
    <h3 data_translate="experience.ntn_snr.title"></h3>
    <h4 data_translate="experience.ntn_snr.job"></h4>
    <ul>
        <li data_translate="experience.ntn_snr.mission1"></li>
        <li data_translate="experience.ntn_snr.mission2"></li>
        <li data_translate="experience.ntn_snr.mission3"></li>
        <li data_translate="experience.ntn_snr.mission4"></li>
    </ul>
</div>

<h2 data_translate="experience.asten_est.year"></h2>
<div>
    <h3 data_translate="experience.asten_est.title"></h3>
    <h4 data_translate="experience.asten_est.job"></h4>
    <ul>
        <li data_translate="experience.asten_est.mission1"></li>
        <li data_translate="experience.asten_est.mission2"></li>
        <li data_translate="experience.asten_est.mission3"></li>
        <li data_translate="experience.asten_est.mission4"></li>
    </ul>
</div>
{% endblock %}